.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.txt
nohup.out
sims/
*.pdf
abc_estimates/
num_iter/
old_sims/
plots/
plots_simsstats/
posterior_plots/
results/
output/
posterior_plots/
old_scripts/
*.png
*.RData
*.txt
*.Rproj
*.par
X*/

